[submodule "xiv-gen/ffxiv-datamining"]
	path = xiv-gen/ffxiv-datamining
	url = https://github.com/xivapi/ffxiv-datamining.git
[submodule "ultros-frontend/universalis-assets"]
	path = ultros-frontend/universalis-assets
	url = https://github.com/Universalis-FFXIV/universalis-assets.git
