@font-face {
  font-family: Jaldi;
  src: url('Jaldi-Regular.ttf');
}

@font-face {
  font-family: Jaldi-Bold;
  src: url('Jaldi-Bold.ttf');
}

@font-face {
  font-family: Pacifico-Regular;
  src: url("Pacifico-Regular.ttf")
}

a {
  color: #3B2B9E;
  transition: color .25s;
}

a:hover {
  color: #fff;
  transition: color .25s;
}

body {
  transition-property: background-image;
  transition: 1s;
  color: #fff;
  font-family: Jaldi, sans-serif;
  opacity: 1;
  margin: 0px;
  background-color: #000;
  background-position: 0px;
  max-width: 100vw;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url('./images/flower_1.webp');
  background-size: 512px;
  background-repeat: repeat;
  background-color: #000;
  background-origin: content-box;
  animation: animateBackgrounds 50s linear 0s infinite;
  z-index: -10000;
}

body::after {
  content: '';
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  opacity: 0%;
  background: url('./images/flower_4.webp');
  background-size: 512px;
  background-repeat: repeat;
  background-color: #000;
  background-origin: content-box;
  animation: animateBackgrounds2 50s linear 0s infinite;
  z-index: -10000;
}

@keyframes animateBackgrounds {
  0% {
    background: url("./images/flower_1.webp");
    display: inline;
    opacity: 1.0; 
  }
  23% {
    opacity: 1.0;
  }
  25% {
    opacity: 0.0;
  }
  27% {
    display: none;
    opacity: 0.0;
    background: url("./images/flower_3.webp");
  }
  48% {
    opacity: 0.0;
    display: inline;
    background: url("./images/flower_3.webp");
  }
  50% {
    opacity: 1.0;
  }
  73% {
    opacity: 1.0;
  }
  75% {
    opacity: 0.0;
  }
  90% {
    display: none;
    background: url("./images/flower_1.webp");
  }
  98% {
    background: url("./images/flower_1.webp");
    display: inline;
    opacity: 0.0;
  }
  99% {
    opacity: 1.0;
  }
}

@keyframes animateBackgrounds2 {
  0% {
    display: none;
    opacity: 0.0;
    background: url("./images/flower_4.webp");
  }
  23% {
    opacity: 0.0;
    background: url("./images/flower_4.webp");
  }
  25% {
    
    opacity: 1.0;
  }
  48% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
    
  }
  51% {
    background: url("./images/flower_2.webp");
    display: none;
  }
  73% {
    background: url("./images/flower_2.webp");
    display: inline;
    opacity: 0.0;
  }
  75% {
    opacity: 1.0;
    
  }
  98% {
    opacity: 1.0;
  }
  99% {
    display: none;
    opacity: 0.0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes slowSlide {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: 0px;
  }
}

.gradient-outer {
  position: absolute;
  width: 100%;
  height: 110vh;
  margin: -20px 0px;
  z-index: -500;
  overflow: hidden;
}
.gradient {
  background: linear-gradient(black 100px, transparent 50%);
  position: relative;
  width: 100%;
  height: 110%;
  left: 0px;
  top: 0px;
  opacity: 1.0;
  z-index: -10000;
  animation: fadeGradient cubic-bezier(0.12, 0, 0.39, 0) .25s;
}

@keyframes fadeGradient {
  0% {
    position:absolute;
    transform: translate(0px, 100px) scale(1, 2.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1, 1);
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 20px;
  height: 16vh;
}

.btn {
  background-color: #3B2B9E;
  color: #fff;
  border-radius: 11px;
  padding-right: 20px;
  text-decoration: none;
  transition: 0.3s;
  transition-property: background-color;
}

.btn:hover {
  background-color: #3A2B7E;
  transition: 0.3s;
  transition-property: background-color, box-shadow;
  box-shadow: inset 0px 0px 0px 2px #3B2B9E;
}x

.main-content .btn {
  padding-left: 20px;
  color: #fff;
}

.nav-item {
  color: #fff;
  margin: 5px;
  text-decoration: none;
  font-size: large;
  height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  transition: .25s;
}
.nav-item > * {
  padding: 5px;
}

.nav-item:hover {
  color: #846D8F;
  text-decoration: underline;
  transition: .25s;
}

.hero-title {
  margin-top: 15%;
  margin-left: 10%;
  text-shadow: 15px 17px 22px #000;
  font-size: 76px;
  margin-bottom: 10%;
  font-family: 'Pacifico-Regular';
}

.hero-title::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75), transparent);
  
  z-index: -1;
}

.search-container {
  align-items: top;
  position: relative;
  height: 52px;
}

.search-box {
  width: 336px;
  height: 36px;
  border-radius: 4px;
  margin: 5px;
  padding: 0px 10px;
  border: 1px;
  flex-direction: column;
  font-family: inherit;
  font-size: large;
  background-color: #eee;
  color: #000;
}

.search-box.active {
  color: #222;
}

.search-box.active ~ .search-results {
  visibility: visible;
  opacity: 1.0;
  animation: search-open .25s cubic-bezier(0.76, 0, 0.24, 1) 0s 1;
}

.search-results {
  background-color: #281A2DED;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 356px;
  position: relative;
  visibility: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0.0;
  z-index: 100;
}

@keyframes search-open {
  0% {
    height: 0px;
  }
  100% {
    height: 500px;
  }
}


.search-result {
  display: flex;
  text-align: left;
  justify-content: left;
  align-items: center;
  top: 40px;
  width: 344px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  margin: 5px;
  animation-name: search-result-in;
  animation-duration: 300ms;
}

.search-result :hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 1s;
}

@keyframes search-result-in {
  from {opacity: 0.0;}
  to {opacity: 1.0;}
}

.search-result a {
  flex-direction: row;
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 2.5px;
}

.search-result-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.search-result img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.item-name {
  font-size: 16px;
  margin-bottom: -10px;
  text-align: left;
}

.item-type {
  font-size: 11px;
  text-align: left;
}

.container .search-result {
  width: unset;
  height: unset;
  padding: 10px;
}

.container .item-name {
  font-size: 36px;
}

.container .item-type {
  font-size: 26px;
}

.container .search-result img {
  height: 80px;
  width: 80px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  padding: 5px;
}

.container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
  min-height: 84vh;
}

.content-nav {
  font-size: 20px;
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

.btn-secondary {
  background-color: #48394F;
  color: #fff;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  padding-right: 10px; 
  padding-left: 10px;
  text-decoration: none;
  border: 1px solid #000;
}

.btn-secondary > * {
  padding: 5px;
}

.btn-secondary:hover {
  background-color: #3A2B7E;
  transition: background-color .5s;
}

.btn-secondary.active {
  background-color: #171518;
}

.main-content {
  background-color: #100A12ED;
  backdrop-filter: blur(5px);
  padding: 2em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 90vh;
  animation: fadeInAnimation cubic-bezier(0.11, 0, 0.5, 0) .5s;
  opacity: 1;
}

.flex-wrap {
  display: flex;
  flex-flow: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-space {
  justify-content: space-between;
}

.flex-end {
  justify-content: end;
}

.flex-start-align {
  align-items:flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-content table {
  white-space: nowrap;
  
}

.main-content td {
  padding-left: 10px;
  padding-right: 10px;
}

.main-content a {
  color: #b996ca;
}

.main-content a:hover {
  color: #fff;
}

.content-well {
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.content-title {
  font-size: 26px;
}

.align-right {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.small-icon {
  width: 30px;
  height: 30px;
  margin: 0px 5px -7px -5px;
}

tr:nth-child(even) {
  background-color: #140F0F61; /* 38% */
}

tr:nth-child(odd) {
  background-color: #D4C7C70A;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #222; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3A2B7E; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #846D8F; 
}

footer {
  padding-top: 45px;
  margin-top: -45px;
  background: linear-gradient(transparent, black 45px);
  width: 100vw;
  text-align: center;
}

.gil {
  text-decoration: wavy;
}

.gil::before {
  content: '🪙';
  padding-right: 3px;
}

th {
  word-wrap: normal;
  height: 46px;
}

.homeworld {
  background-color: #3A2B7E;
}

.homeworld::before {
  content: '🏠';
}

input {
  border: solid #3B2B9E;
  border-radius: 8px;
  font-size: 16px;
  font-family: Jaldi, sans-serif;
  width: 100px;
  color: #3A2B7E;
  background-color: #e7d0f2;
}

input[type=number] {
  appearance: textfield;
}

input[type=number]::before {
  content: '<button click="this.previousElementSibling.stepDown()">\></button>';
}

input[type=number]::after {
  content: '<button click="this.previousElementSibling.stepUp()">\<</button>';
}

select {
  border-radius: 8px;
  border: solid #3B2B9E;
  font-size: 16px;
  font-family: Jaldi, sans-serif;
  width: 240px;
  color: #3A2B7E;
  background-color: #e7d0f2;
}