name: Book

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install latest mdBook
              run: |
                  set -euo pipefail
                  tag=$(curl -sSL 'https://api.github.com/repos/rust-lang/mdbook/releases/latest' | jq -r '.tag_name')
                  url="https://github.com/rust-lang/mdbook/releases/download/${tag}/mdbook-${tag}-x86_64-unknown-linux-gnu.tar.gz"
                  mkdir -p "$HOME/mdbook-bin"
                  curl -sSL "$url" | tar -xz --directory="$HOME/mdbook-bin"
                  echo "$HOME/mdbook-bin" >> "$GITHUB_PATH"


            - name: Build book
              run: |
                  cd userguide
                  mdbook build

            - name: Setup Pages
              uses: actions/configure-pages@v5

            - name: Upload book artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: userguide/book

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
