name: Docker

on:
    push:
        branches:
            - "main"
        # Publish semver tags as releases.
        tags:
            - "v*.*.*"

env:
    # Use ghcr.io for GitHub Container Registry
    REGISTRY: ghcr.io
    # github.repository as <owner>/<repo>
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            # Needed for keyless signing with cosign via OIDC
            id-token: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to registry
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract Docker metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

            - name: Build and push Docker image
              id: build-and-push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  platforms: linux/amd64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

            - name: Install cosign
              if: github.event_name != 'pull_request'
              uses: sigstore/cosign-installer@v3
              with:
                  # Pin to a stable cosign release
                  cosign-release: "v2.1.1"

            - name: Sign published Docker image
              if: github.event_name != 'pull_request'
              env:
                  TAGS: ${{ steps.meta.outputs.tags }}
                  DIGEST: ${{ steps.build-and-push.outputs.digest }}
              run: |
                  echo "$TAGS" | xargs -I {} cosign sign --yes {}@"$DIGEST"
