name: rust

on:
    push:
        branches: ["main"]
        # Publish semver tags as releases.
        tags: ["v*.*.*"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    check:
        name: Lint, checks, and tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            - name: Install system packages
              # normally i do an apt upgrade here, but we install snap and firefox??
              run: sudo apt update && sudo apt install -y libfreetype6 libfreetype6-dev cmake build-essential curl sudo pkg-config libssl-dev font-config
            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@nightly
            - name: Install rustfmt and clippy
              run: rustup component add rustfmt clippy
            - name: Cache cargo registry and build artifacts
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Install cargo-binstall
              uses: cargo-bins/cargo-binstall@main

            - name: Install cargo tools
              run: |
                  cargo binstall --no-confirm cargo-deny
                  cargo binstall --no-confirm cargo-outdated
                  cargo binstall --no-confirm cargo-udeps
                  cargo binstall --no-confirm cargo-audit
                  cargo binstall --no-confirm cargo-pants
            # giving up on this fmt check for now
            # - run: cargo fmt --version
            - name: Check formatting
              run: cargo fmt --all -- --check

            - name: Run Clippy
              run: cargo clippy --all-targets --all-features -- -D warnings

            - name: Run cargo-deny, outdated, udeps, audit, and pants
              run: |
                  cargo deny check
                  cargo outdated --exit-code 1
                  cargo udeps
                  rm -rf ~/.cargo/advisory-db
                  cargo audit
                  cargo pants

            - name: Run tests
              run: cargo test --workspace --all-features
