name: rust

on:
    push:
        branches: ["main"]
        # Publish semver tags as releases.
        tags: ["v*.*.*"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    check:
        name: Lint, checks, and tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: recursive
            - name: Install system packages
              # normally i do an apt upgrade here, but we install snap and firefox??
              run: sudo apt update && sudo apt install -y libfreetype6 libfreetype6-dev cmake build-essential curl sudo pkg-config libssl-dev fontconfig libfontconfig1-dev
            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@nightly
            - name: Install rustfmt and clippy
              run: rustup component add rustfmt clippy
            - name: Cache cargo registry and build artifacts
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Install cargo-binstall
              uses: cargo-bins/cargo-binstall@main

            - name: Install cargo tools
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  install_if_missing() {
                      if ! command -v $1 &> /dev/null; then
                          echo "Installing $1..."
                          cargo binstall --no-confirm $1
                      else
                          echo "$1 is already installed, skipping."
                      fi
                  }
                  install_if_missing cargo-deny
                  install_if_missing cargo-outdated
                  install_if_missing cargo-udeps
                  install_if_missing cargo-audit
                  install_if_missing cargo-pants
            # giving up on this fmt check for now
            # - run: cargo fmt --version
            - name: Check formatting
              run: cargo fmt --all -- --check

            - name: Run Clippy
              # it would be good to support --all-features, but xiv-gen is a little unstable.
              run: cargo clippy --all-targets -- -D warnings

            #- name: Run cargo-deny, outdated, udeps, audit, and pants
            #  run: |
            #      cargo deny check
            #      cargo outdated --exit-code 1
            #      cargo udeps
            #      rm -rf ~/.cargo/advisory-db
            #      cargo audit
            #      cargo pants
            # - name: Run tests
            # --all-features makes sense, but breaks xiv-gen oops.
            # some broken tests that i can't figure out right now.
            # run: cargo test --workspace

    e2e:
        name: End-to-end tests
        runs-on: ubuntu-latest
        needs: check

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@nightly

            - name: Cache cargo registry and build artifacts
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.cargo/bin
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-cargo-

            - name: Use Node.js 18
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install cargo-binstall
              uses: cargo-bins/cargo-binstall@main

            - name: Install cargo-leptos
              run: cargo binstall --no-confirm cargo-leptos

            - name: Install npm dependencies
              run: npm ci
              working-directory: ./ultros-frontend/ultros-app/end2end

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
              working-directory: ./ultros-frontend/ultros-app/end2end

            - name: Run Playwright tests
              run: npx playwright test
              working-directory: ./ultros-frontend/ultros-app/end2end
